

#page-header #post-info {
    position: absolute;
    /* 这里的bottom：的值可以调节标题的上下位置 */
    bottom: 160px;
    padding: 0 8%;
    width: 100%;
    text-align: center;
  }

/* 时间轴样式 */
#page-header {
  position: relative;
  width: 100%;
  /* background-color: #49b1f5; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  background-image: url(https://cdn.jsdelivr.net/gh/NorthPoet/images/images/picture-2312336.jpg);
}

/* 文章页背景 最后一个参数表示透明度，范围是 0（完全透明）到 1（完全不透明 */
.layout_post>#post {
  /* 以下代表透明度为0.7 可以自行修改*/
  background: rgba(255, 255, 255, 0.5);
}

/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  /* 以下代表透明度为0.7 */
  background: rgba(255, 255, 255, 0.5);
}
/*侧边卡片的透明度 */
:root {
--card-bg: rgba(255, 255, 255, 0.5);
}
/* 页脚透明 */
#footer {
/* 以下代表透明度为0.7 */
background: rgba(255, 255, 255, 0);
}